@mixin cross-head-draw {
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  width: 1.5rem;
  height: 1.5rem;
  background-color: $color-grey-dark-2;
  position: absolute;
}

@mixin hands {
  border-radius: 10px;
  width: 0.6rem;
  height: 4rem;
  background-color: $color-grey-dark-1;
  position: absolute;
}

@mixin foot {
  border-radius: 10px;
  width: 1.3rem;
  height: 5.5rem;
  background-color: $color-grey-dark-1;
  position: absolute;
  top: 7.5rem;
}

.hidden {
  display: none;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.words_container {
  &-length {
    font-size: 4rem;
    color: $color-grey-dark-1;
    margin-left: 1rem;
    border-bottom: 3px solid $color-grey-dark-1;
    width: 1rem;
    height: 1rem;
  }
}

.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-text {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $color-grey-dark-2;
  }
  &-btn {
    color: #fff;
    border: 1px solid $color-grey-dark-3;
    background-color: rgba(68, 182, 68, 0.803);
    border-radius: 15px;
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }
}
