body {
  display: flex;
  flex-direction: column-reverse;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-2;
  min-height: 100vh;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.249);
}

.hangman_background {
  height: 60rem;
  width: 60rem;
  background-image: url("../img/Hangman-background.png");
  background-size: 80% 90%;
  background-repeat: no-repeat;
  position: relative;
}

///// Body of the hangman

.head {
  width: 5rem;
  height: 5rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 11rem;
  left: 14.8rem;

  &_cross-left {
    @include cross-head-draw;
    top: 0.7rem;
    left: 0.5rem;
  }

  &_cross-right {
    @include cross-head-draw;
    top: 0.7rem;
    right: 0.5rem;
  }

  &_mouth {
    position: absolute;
    top: 2.5rem;
    left: 0.35rem;
    width: 40px;
    height: 15px;
    border: solid 5px $color-grey-dark-2;
    border-color: $color-grey-dark-2 transparent transparent transparent;
    border-radius: 330%/100px 100px 0 0;
  }
}

.manbody {
  width: 1.3rem;
  height: 10rem;
  background-color: $color-grey-dark-1;
  border-radius: 10px;
  position: absolute;
  top: 15.7rem;
  left: 16.7rem;
  &_hands {
    &-right {
      @include hands;
      transform: skew(30deg, 15deg) translate(12px, 15px);
    }
    &-left {
      @include hands;
      transform: skew(-30deg, -15deg) translate(-4px, 17px);
    }
  }

  &_foot {
    &-right {
      @include foot;
      transform: skew(25deg, 10deg) translate(8px, 15px);
    }
    &-left {
      @include foot;
      transform: skew(-25deg, -10deg) translate(-8px, 15px);
    }
  }
}

////////////////

.label {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  height: 6.5rem;
  width: auto;
  margin-bottom: 3rem;

  &-letter {
    border: none;
    width: 5rem;
    height: 5rem;
    font-size: 3.2rem;
    text-align: center;
    border-radius: 4px;
  }
  &-text {
    font-size: 2rem;
  }
}
